<h2>My Heroes</h2>

<!-- *ngFor | is just for each loop over heroes which is defined in heros.component.ts -->
<!-- (click) when this component is clicked run the given function -->
<!-- [class.selected] not sure why it needs to be in brackets? But allows for condional css class based of the given condition which is pretty cool-->
<ul class = "heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class = "badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>


